---
import LinkSquare from "../../../public/Icon/LinkSquare.astro";

interface Props {
   empresa: string;
   puesto: string;
   fecha: string;
   desc: string;
   pais: string;
   link: string;
}

const { empresa, puesto, fecha, desc, link, pais = "CO" } = Astro.props;
---

<>
   <div
      class="relative flex flex-col lg:col-span-4 max-lg:col-span-5 max-md:col-span-12"
   >
      <span class="bg-yellow-400 absolute rounded-full p-1.5 -left-[47px] top-2"
      ></span>
      <h3 class="text-yellow-400 font-semibold text-xl">{puesto}</h3>
      <a
         href={link}
         target="_blank"
         class="flex items-center gap-2 group w-fit"
      >
         <img
            width={22}
            height={22}
            alt={"Foto de perfil"}
            class="object-cover"
            src={`https://flagsapi.com/${pais}/flat/64.png`}
         />

         <span class="font-semibold text-lg">
            {empresa}
         </span>

         <span class="group-hover:scale-125 duration-200">
            <LinkSquare size={16} stroke={2.5} />
         </span>
      </a>
      <p class="text-xs">{fecha}</p>
   </div>
   <div class="text-sm lg:col-span-8 max-xl:col-span-7 max-md:col-span-12">
      {desc}
   </div>
</>
